body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #795204;
}

header {
    background-color: #370fe7;
    color: rgb(18, 18, 196);
    padding: 1rem;
    text-align: center;
}

main {
    padding: 2rem;
    text-align: center;
}
